
.nav-container {
  width: 100%;
  background-color:transparent;
}

.navbar {
  display: flex;
  justify-content:space-around;
  gap: 2rem;
  height:8rem;
  line-height:4rem;
  width: 100%;
  max-width: 1720px;

}


.nav-menu {
  margin-top: 2rem;
}


.nav-links {
  text-decoration: none;
  font-size: 2.5rem;
  color:var(--darkgrey);
  font-weight:550;
  padding-right: 0rem;

}

.nav-links:hover {
  color: var(--darkpink);
  transition: all 0.2s ease-out;
  font-weight:bold;
}

.nav-links-btn {
  background-color:transparent;
  border: 0.3rem solid var(--brightred);
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  box-shadow: 5px 5px 1px 1px rgba(236, 134, 151, 0.5);
}

.nav-links-btn:hover {
  background-color: transparent;
  color: var(--brightred);
  padding: 0.4rem 1.4rem;
  border: 0.4rem solid var(--brightred);
  transition: all 0.2s ease-out;
  font-weight:bold;
}

h1 {
  text-align: center;
  text-decoration: none;
  height: 6rem;
  line-height: 6rem;
  background-color:pink;
  color: var(--darkerpink);
  font-size: 4rem;
  word-spacing: 5rem;
  letter-spacing: 2rem;
  margin: 0;
}

.btn {
  display: inline-block;
  background-color: rgb(247, 148, 173);
  border-radius: 5px;
  color: white;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 5px 10px;
  box-shadow: 5px 5px 1px 1px rgba(240, 162, 175, 0.5);
}

.btn:hover {
  color: black;
  font-weight: bold;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
aside{
  position:relative;
  display:flex;
  flex-direction:row;
  background-color:transparent;
}


#subscribebox {
  position:absolute;
  top: 70%;
  background: transparent;
  display: flex;
  flex-direction:column;
  justify-content: right;
  align-items: center;
  height: 12rem;
  text-align: center;
  border-radius: 5px;
  width: 80%;
  margin-top: 3rem;  
}

#email-input {
  width: 20rem;
  padding: 1rem 2rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
  border-radius: 8px;
  box-shadow: 5px 5px 1px rgba(236, 134, 151, 0.5);
}

#submit {
  background-color:white;
  padding: 1rem 2rem;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 5px 5px 1px rgba(236, 134, 151, 0.5)
}

#submit:hover {
  font-weight: bolder;
  background-color: var(--brightred);
  transition: all 0.2s ease-out;
}

input::placeholder{
  color:var(--brightred)
} 

.aside__container{
  position: absolute;
  top:15%;
  background-color:blanchedalmond;
  color:var(--darkgreydarkgrey);
  height:13rem;
  line-height:15rem;
  width:17rem;
  border: 3px solid var(--darkerpink);
  border-radius: 2rem;
  box-shadow: 10px 10px 0 rgba(240, 162, 175, 0.5);
  z-index: inherit;
}
.coffee{
  width: 15rem;
  height: 13rem;
  z-index: 1;
  position:absolute;
  top: 45%;
  left:20%;
}

iframe{
  border: 3px transparent var(--darkerpink);
  border-radius: 15px;
  width:172px;
  height:172px;
  border:0;
}

.main__container{
  flex-basis: 27%;
  gap: 40px;
  border: 3px solid var(--darkerpink);
  border-radius: 2rem;
  padding: 2rem;
  flex-shrink: 1;
  margin-top: 5rem;
  margin-bottom: 3rem;
  margin-left: 2rem;
  margin-right: 2rem;
  color: rgb(56, 55, 55);
  line-height: 2rem;
  flex-grow: 1;
  flex-shrink: 1;
  overflow-y:scroll;
  box-shadow: 10px 10px 0 rgba(240, 162, 175, 0.5);
  height:55rem;
}
.main__container1,.main__container2,.main__container3{
  display:flex;
  flex-direction:column;

}

h3 {
  font-weight: bold;
  font-size: 1.6rem;
  padding:5px;
  text-decoration: none;
  line-height: 3rem;
}

img {
  width: 25rem;
  height:25rem;
  border-radius: 3rem;
  float: left;
  margin-right: 3rem;
  box-shadow: 10px 10px 0 rgba(240, 162, 175, 0.5);
  margin-bottom:2rem;
  margin-right:3rem;
}

.container-contents {
  font-size: 1.6rem;
}

p::first-letter{
  font-size:2rem;
}

footer{
  background-color:var(--darkerpink);
  color:var(--darkgrey);
  height:8rem;
  font-family:nunito;
  padding-top:0;
  position:fixed;
  top:90%;
  left:0%

}

.footer__cotainer{
  display:flex;
  margin-top: 0;
  width:100vw;
  align-items: center;
  justify-content: space-evenly
}

.socials {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.social-icon {
  font-size: 4rem;
  color:pink;
  transition: auto 0.2s ease-out;
  padding: 1rem;
}

.social-icon:hover {
  color: aquamarine;
}

.footer__container h3{
  font-size: 2rem;
  font-weight: 400;
  padding-right:5rem;
}

.fa-balloon {
  margin-right:1rem;
  color: var(--darkgrey);
}


.fa-envelope {
  color:purple;
  padding-right:1rem;
}

/*  books page CSS styling */
.books{
  display:flex;
  flex-direction:column;
  gap: 1rem;

}
.book{
  display: flex;
  margin-top: 5rem;
  padding:3rem;
  width:78vw;
  height:70vh;
  background-color:whitesmoke;
  justify-content: space-around;
  border-radius: 2rem;
}

.book img{
  height:40rem;
  width: 28rem;
}
.book-info{
margin-top: 1rem;
display:flex;
flex-direction:column;
justify-content: space-between
;
}
.book-info h2{
  margin-bottom: 1rem;
}

.click{
  font-size:1.8rem;
  color:dodgerblue;
  cursor:pointer
}

